:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --primary-white-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --hover-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-green-color: #31d0aa;
  --text-color: #434455;
  --subtle-text: #8e8f99;
  --accent-color: #e7e9fc;
  --light-cloud-color: #f4f4fd;
  --modal-bg-color: #fcfcfc;
}

body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--primary-white-color);
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  color: var(--dark-color);
}

/* <<< COMMON >>> */
.address {
  font-style: normal;
}

.list {
  list-style-type: none;
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* <<< /COMMON >>> */

/* <<< HEADER >>> */

.page-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.page-logo-header {
  color: var(--dark-color);
}

.menu-item .link {
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.menu-item .link:visited {
  color: var(--dark-color);
}

/* .current {
  color: var(--hover-state-color);
} */

.menu-list {
  text-decoration: none;
}

.menu-item {
  font-weight: 500;
  text-decoration: none;
}

.contacts-header .link {
  color: var(--text-color);
}

.menu-item .link:hover,
.menu-item .link:focus,
.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--hover-state-color);
}

/* <<< /HEADER >>> */

/* <<< HERO >>> */

.page-hero {
  background-color: var(--dark-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-white-color);
}

.primary-btn {
  background-color: var(--primary-brand-color);
  color: var(--primary-white-color);

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--hover-state-color);
}

/* <<< /HERO >>> */

/* <<< BENEFITS >>> */
/* <<< /BENEFITS >>> */

/* <<< WHAT ARE WE DOING >>> */
/* <<< /WHAT ARE WE DOING >>> */

/* <<< OUR TEAM >>> */
.team {
  background-color: var(--light-cloud-color);
}

.team-item {
  background-color: var(--primary-white-color);
}
/* <<< /OUR TEAM >>> */

/* <<< FOOTER >>> */
.page-footer {
  background-color: var(--dark-color);
}

.page-logo-footer {
  color: var(--light-cloud-color);
}

.footer-text {
  color: var(--light-cloud-color);
  letter-spacing: 0.02em;
}

/* <<< /FOOTER >>> */

.filter-btn {
  border: 1px solid var(--accent-color);
  background-color: var(--light-cloud-color);
  color: var(--primary-brand-color);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--hover-state-color);
  color: var(--primary-white-color);

  /* border: none;  */
}

.work-item {
  /* border: 1px solid var(--accent-color); */
}
